<style>
.mainnav-profile .profile-wrap {
    background-image: url('{{assetUrl}}img/nav-profile.png');
}
</style>
<!--MAIN NAVIGATION-->
<!--===================================================-->
<nav id="mainnav-container">
    <div id="mainnav">

        <!--Menu-->
        <!--================================-->
        <div id="mainnav-menu-wrap">
            <div class="nano">
                <div class="nano-content">

                    <!--Profile Widget-->
                    <!--================================-->
                    <div id="mainnav-profile" class="mainnav-profile">
                        <div class="profile-wrap">
                            <div class="pad-btm">
                                <img class="img-circle img-sm img-border" src="{{assetUrl}}img/profile-photos/1.png" alt="Profile Picture">
                            </div>
                            <a href="#profile-nav" class="box-block" data-toggle="collapse" aria-expanded="false">
                                <p class="mnp-name">{{user.first_name}} {{user.last_name}}</p>
                                <span class="mnp-desc">{{user.email}}</span>
                            </a>
                        </div>
                    </div>

                    {{
                        render_menu('examiner_sidebar', 'ul',
                            {
                                "attributes":{"class": "list-group", "id":"mainnav-menu"},
                                "active" : {
                                    "class": "active"
                                }
                            }
                        )
                        | raw
                    }}
                </div>
            </div>
        </div>
        <!--================================-->
        <!--End menu-->

    </div>
</nav>
<!--===================================================-->
<!--END MAIN NAVIGATION--><!-- Navigation -->
