{% extends 'master.twig' %}
{% block body %}
<div id="container" class="cls-container">
<!-- BACKGROUND IMAGE -->
<!--===================================================-->
<div id="bg-overlay"></div>
<div id="bg-overlay" class="bg-img" style="background-image: url('{{assetUrl}}img/bg-img/bg-img-4.jpg');"></div>


<!-- LOGIN FORM -->
<!--===================================================-->
<div class="cls-content">
    <div class="cls-content-sm panel">
        <div class="panel-body">
            {% if flash.message %}
                {% if flash.message_status == true %}
                    <div class="alert alert-success">
                {% else %}
                    <div class="alert alert-danger">
                {% endif %}
                <button class="close" data-dismiss="alert"><i class="pci-cross pci-circle"></i></button>
                {{ flash.message }}
                </div>
            {% endif %}
            <div class="mar-ver pad-btm">
                <h3 class="h4 mar-no">Virtualitest</h3>
                <p class="text-muted">Sign In to your account</p>
            </div>
            <form action="{{ urlFor('dologin') }}" method="POST" id="loginForm">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Username" name="username" autofocus>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="password" placeholder="Password">
                </div>
                <button class="btn btn-primary btn-lg btn-block" type="submit">Sign In</button>
            </form>
        </div>
    </div>
</div>
<!--===================================================-->
</div>

{% endblock %}