{% extends 'admin/index.twig' %}
{% block content %}

	{% import 'generate/hpanel.twig' as make_hpanel %}
	{% import 'generate/data_table.twig' as make_table %}
	{% import 'generate/submission_form_modal.twig' as make_modal %}

	{# Generate the horizontal panel data table set #}
	{% set categories_add_button %}
		{{ make_modal.add_button('categories','Add Category', '#categories-modal', '#categories-form-data', '#btn_categories_save') }}
		{{ make_modal.custom_button('refresh-categories-table', 'Refresh Table', 'fa-refresh', 'btn-primary2 refresh-table-button', 'data-table=#categories-table') }}
	{% endset %}

	{% set table_panel_header %}
		{{ make_hpanel.record_list_header('Category List', categories_add_button) }}
    {% endset %}

	{% set categories_data_table %}
		{{ make_table.data_table(model_name, records, table_column_names, update_and_delete_is_allowed, '#categories-modal', '#categories-form-data', pageUrl) }}
	{% endset %}

	{{ make_hpanel.hpanel(table_panel_header, categories_data_table, "", "hviolet") }}

	{# Generate the modal submission form set #}
	{% include '@category/modal.twig' %}


{% endblock %}

