{# Included by other templates that imports the following: 

	{% import 'generate/hpanel.twig' as make_hpanel %}
	{% import 'generate/data_table.twig' as make_table %}
	{% import 'generate/submission_form_modal.twig' as make_modal %} 
#}

	{% set categories_form_fields %}

		{{ make_modal.plain_field('categories_name', 'sector_id', 'Sector', "text", "", "name") }}
		{{ make_modal.plain_field('categories_name', 'name', 'Name', "text", "", "name") }}
		
	{% endset %}

	{% set categories_submission_form %}
		{{ make_modal.submission_form('categories', 'categories', categories_form_fields) }}
	{% endset %}

	{% set categories_save_cancel_buttons %}
		{{ make_modal.cancel_and_save_buttons('categories', '#categories-modal', '#categories-form-data', '#categories-table') }}    
	{% endset %}

	{{ make_modal.modal('categories', 'Input Form', categories_submission_form, categories_save_cancel_buttons) }}


	