{% extends 'master.twig' %}

{% block body %}
<div id="container" class="effect aside-float aside-bright navbar-fixed mainnav-lg">

	{{include('header.twig')}}

	<div class="boxed">
			<!--CONTENT CONTAINER-->
            <!--===================================================-->
            <div id="content-container">
                
                <!--Page Title-->
                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                <div id="page-title">
                    <h1 class="page-header text-overflow">{% block title %}{% endblock %}</h1>
                </div>
                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                <!--End page title-->
                
                <!--Page content-->
                <!--===================================================-->
                <div id="page-content">
					{% block content %}
					{% endblock %}
                </div>
                <!--===================================================-->
                <!--End page content-->


            </div>
            <!--===================================================-->
            <!--END CONTENT CONTAINER-->

			{% block sidebar %}
			{% endblock %}
	</div>

	{{include('footer.twig')}}

</div>      
{% endblock %}