<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="apple-touch-icon" sizes="57x57" href="{{assetUrl}}img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{{assetUrl}}img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{assetUrl}}img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{assetUrl}}img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{assetUrl}}img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{assetUrl}}img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{assetUrl}}img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{assetUrl}}img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{assetUrl}}img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{assetUrl}}img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{assetUrl}}img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="{{assetUrl}}img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{assetUrl}}img/favicon/favicon-16x16.png">
    <link rel="manifest" href="{{assetUrl}}img/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{assetUrl}}img/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    {% for metaname, metavalue in meta %}
    <meta name="{{metaname}}" value="{{metavalue}}" />
    {% endfor %}

    <!-- publish javascript variable -->
    <script>
        var global = {{global|json_encode|raw}}
    </script>
    <!--Open Sans Font [ OPTIONAL ]-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>

    <!-- Include registered css -->
    {% for cssfile in css.external %}
    <link rel="stylesheet" href="{{cssfile}}" />
    {% endfor %}

    {% for cssfile in css.internal %}
    <link rel="stylesheet" href="{{assetUrl}}css/{{cssfile}}" />
    {% endfor %}

    <!-- Include registered javascript -->
    {% for jsfile in js.external %}
    <script src="{{jsfile}}"></script>
    {% endfor %}

    {% for jsfile in js.internal %}
    <script src="{{assetUrl}}js/{{jsfile}}"></script>
    {% endfor %}

</head>
<body>
    {% block body %}{% endblock %}
</body>
</html>