{% extends 'superadmin/index.twig' %}
{% block title %}
{{title}}
{% endblock %}
{% block content %}
<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title">User list</h3>
    </div>
    <div class="panel-body">
        {% if flash.message %}
            {% if flash.message_status == true %}
                <div class="alert alert-success">
            {% else %}
                <div class="alert alert-danger">
            {% endif %}
            <button class="close" data-dismiss="alert"><i class="pci-cross pci-circle"></i></button>
            {{ flash.message }}
            </div>
        {% endif %}

        <table id="groups-table" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Group</th>
                    <th>Level</th>
                    <th>Date Added</th>
                </tr>
            </thead>
            <tbody>
                {% for person in people %}
                <tr>
                    <td>{{person.username}}</td>
                    <td>{{person.first_name}} {{person.last_name}}</td>
                    <td>{{person.email}}</td>
                    <td>{{person.sector_name}}</td>
                    <td>{{person.group_name}}</td>
                    <td>{{person.created_at | date("m/d/Y") }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}