{% extends 'admin/index.twig' %}
{% block title %}
{{title}}
{% endblock %}
{% block content %}
<div class="panel">
    <div class="panel-heading">
    	<div class="row">
    		<div class="col-xs-8">
        		<h3 class="panel-title">Group List</h3>
        	</div>
        	<div class="col-xs-4">
        		<button class="btn btn-success pull-right" data-target="#create-group" data-toggle="modal"><i class="fa fa-plus"></i> Add Group</button>
        	</div>
        </div>
    </div>
    <div class="panel-body">
        {% if flash.message %}
            {% if flash.message_status == true %}
                <div class="alert alert-success">
            {% else %}
                <div class="alert alert-danger">
            {% endif %}
            <button class="close" data-dismiss="alert"><i class="pci-cross pci-circle"></i></button>
            {{ flash.message }}
            </div>
        {% endif %}

        <table id="groups-table" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Date Created</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for group in groups %}
                <tr>
                    <td>{{group.name}}</td>
                    <td>{{group.created_at | date("m/d/Y") }}</td>
                    <td class="text-center"><button class="btn btn-success" data-target="#add-admin" data-toggle="modal" data-id="{{group.id}}"><i class="fa fa-plus"></i> Admin</button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="create-group" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true">
    <div class="modal-dialog">
<<<<<<< HEAD
        <form action="{{urlFor('add_group')}}" method="post">
=======
        <form action="{{urlFor('add_subgroup')}}" method="post">
>>>>>>> c7a2aac9fcc81ee8bc29d7a8b7ea4f92f8700132
            <div class="modal-content">

                <!--Modal header-->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><i class="pci-cross pci-circle"></i></button>
                    <h4 class="modal-title">Create Group</h4>
                </div>

                <!--Modal body-->
                <div class="modal-body">
<<<<<<< HEAD
=======
                    <input type="hidden" name="sector_id" value="{{sector.id}}">
>>>>>>> c7a2aac9fcc81ee8bc29d7a8b7ea4f92f8700132
                    <div class="form-group">
                        <label class="control-label">Name</label>
                        <input type="text" class="form-control" name="group_name" required>
                    </div>
                </div>

                <!--Modal footer-->
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="add-admin" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true">
    <div class="modal-dialog">
        <form action="{{urlFor('add_admin')}}" method="post">
            <div class="modal-content">

                <!--Modal header-->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><i class="pci-cross pci-circle"></i></button>
                    <h4 class="modal-title">Add Admin</h4>
                </div>

                <!--Modal body-->
                <div class="modal-body">
                    <input class="sector-id" type="hidden" name="sector_id" value="">
                    <div class="form-group">
                        <label class="control-label">Username</label>
                        <input type="text" class="form-control" name="username" required>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Email</label>
                        <input type="email" class="form-control" name="email" required>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Password</label>
                        <input type="password" class="form-control" name="password" required>
                    </div>
                    <div class="form-group">
                        <label class="control-label">First Name</label>
                        <input type="text" class="form-control" name="first_name" required>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Last Name</label>
                        <input type="text" class="form-control" name="last_name" required>
                    </div>
                </div>

                <!--Modal footer-->
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
$(document).ready(function(){
    $('#add-admin').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget) // Button that triggered the modal
      var id = button.data('id') 

      var modal = $(this);
      modal.find('.sector-id').val(id);
    })
});
</script>
{% endblock %}